absl-py==1.4.0
ansi2html==1.8.0
asttokens==2.2.1
astunparse==1.6.3
attrs==22.2.0
backcall==0.2.0
beautifulsoup4==4.11.2
blinker==1.6.2
branca==0.6.0
cachetools==5.3.0
category-encoders==2.6.0
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.2
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.34
dash==2.9.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.6
decorator==5.1.1
Deprecated==1.2.13
deprecation==2.1.0
exceptiongroup==1.1.1
executing==1.2.0
fastjsonschema==2.16.3
Fiona==1.9.2
Flask==2.3.1
flatbuffers==23.1.21
folium==0.14.0
fonttools==4.38.0
gast==0.4.0
geopandas==0.12.2
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1
h5py==3.8.0
idna==3.4
imbalanced-learn==0.10.1
importlib-metadata==6.0.0
importlib-resources==5.12.0
iniconfig==2.0.0
ipykernel==6.21.2
ipython==8.11.0
ipywidgets==8.0.6
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter-dash==0.4.2
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyterlab-widgets==3.0.7
kaleido==0.2.1
keras==2.11.0
kiwisolver==1.4.4
libclang==15.0.6.1
lightgbm==3.3.5
llvmlite==0.39.1
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
munch==2.5.0
nbformat==5.8.0
nest-asyncio==1.5.6
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
orjson==3.8.11
packaging==23.0
pandas==1.5.3
parso==0.8.3
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
platformdirs==3.1.0
plotly==5.14.1
plotly-resampler==0.8.3.2
pluggy==1.0.0
pmdarima==2.0.3
prompt-toolkit==3.0.38
protobuf==3.19.6
psutil==5.9.4
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==3.0.0
Pygments==2.14.0
pyod==1.0.9
pyparsing==3.0.9
pyproj==3.5.0
pyrsistent==0.19.3
pytest==7.3.1
python-dateutil==2.8.2
python-version==0.0.2
pytz==2022.7.1
pywin32==305
pyzmq==25.0.0
requests==2.28.2
requests-oauthlib==1.3.1
retrying==1.3.4
rsa==4.9
schemdraw==0.16
scikit-base==0.4.1
scikit-learn==1.2.1
scikit-plot==0.3.7
scipy==1.10.0
shapely==2.0.1
six==1.16.0
sktime==0.18.0
soupsieve==2.4
stack-data==0.6.2
statsmodels==0.13.5
tbats==1.1.3
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
threadpoolctl==3.1.0
tomli==2.0.1
tornado==6.2
tqdm==4.65.0
trace-updater==0.0.9.1
traitlets==5.9.0
typing_extensions==4.4.0
urllib3==1.26.14
wcwidth==0.2.6
Werkzeug==2.3.2
widgetsnbextension==4.0.7
wrapt==1.14.1
xxhash==3.2.0
yellowbrick==1.5
zipp==3.12.0
